#customize-control-mark_footertext_color,
#customize-control-mark_sitetitle_color,
#customize-control-mark_project_color  {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 20px;
}

#customize-control-mark_sitetitle_color  {
    margin-top: 0;
}

#customize-control-mark_hireme_badge_url .customize-control-title,
#customize-control-mark_hireme_badge_text .customize-control-title  {
    display: none;
}

#customize-control-mark_hireme_badge_url.customize-control,
#customize-control-mark_hireme_badge_text.customize-control  {
    padding-left: 25px;
    width: calc(100% - 50px);
}

#customize-control-mark_hireme_badge_shake {
    padding-left: 25px;
}

#customize-control-mark_hireme_badge_shake label {
    margin-top: -10px;
    font-size: 12px;
}

#customize-control-mark_hireme_badge_url.customize-control .description,
#customize-control-mark_hireme_badge_text.customize-control .description {
    font-style: normal;
    margin-bottom: 2px;
}

#customize-control-mark_hireme_badge_url.customize-control input,
#customize-control-mark_hireme_badge_text.customize-control input {
    width: 100%;
}  

/**
 * Adds custom styling for the widget media uploaders.
 */


.widget-media-container {
    width: 100%;
    margin-top: -9px;
}

.widget-no-image {
    border: 1px dashed #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 10px;
    display: block;
}

.widget-media-inner img {
    max-width: 100%;
    border-radius: 2px;
    height: auto;
    margin-bottom: 10px;
}

.widget-media-url {
    display: none;
}

.widget-media-remove {
    float: left;
    width: 48%;
}

.widget-media-upload {
    float: right;
    width: 48%;
}


/**
 * Admin Licensing
 */


#license_dashboard_widget h4 {
	margin: 1.33em 0 0em;
	font-weight: 600;
}

#license_dashboard_widget p {
	margin-top: .5em;
}

#license_dashboard_widget .status-valid .input-text-wrap input[type=text],
#license_dashboard_widget .status-expired .input-text-wrap input[type=text],
#license_dashboard_widget .status-invalid .input-text-wrap input[type=text] {
	border: none;	
	border-left: 4px solid #18B132;
	color: #18B132;
	background: #F1F1F1;
	box-shadow: none;
	padding: 0 10px 0px 10px !important;
	height: 40px;
	line-height: 40px;
	
}

#license_dashboard_widget .status-expired .input-text-wrap input[type=text],
#license_dashboard_widget .status-invalid .input-text-wrap input[type=text] {
}

#license_dashboard_widget .status-expired .input-text-wrap input[type=text],
#license_dashboard_widget .status-invalid .input-text-wrap input[type=text] {
	border-left-color: #d54e21;
	color: #d54e21;
}

#license_dashboard_widget .status-invalid .button-primary.button--activate,
#license_dashboard_widget .status-expired .button-primary.button--activate {
	background-color: #D54E21;
	border-color: #AD3C17 #AD3C17 #AD3C17;
	box-shadow: 0 1px 0 #AD3C17;
	text-shadow: 0 -1px 1px #AD3C17,1px 0 1px #AD3C17,0 1px 1px #AD3C17,-1px 0 1px #AD3C17;
}

#license_dashboard_widget .status-invalid .button-primary.button--activate:hover,
#license_dashboard_widget .status-expired .button-primary.button--activate:hover {
	background-color: #E45423;
}

#license_dashboard_widget .license-notification {
	border-radius: 2px;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	height: 20px;
	background: #d54e21;
	line-height: 20px;
	margin: 0;
	padding: 0 7px;
	position: absolute;
	right: 34px;
	text-decoration: none;
	text-transform: capitalize;
	top: 8px;
	white-space: nowrap;
}

#license_dashboard_widget .license-notification.valid {
	background: #18B132;
}


/**
 * Customizer Retina Logo
 */


#customize-control-site_logo .actions {
	margin-bottom: 0;
}

#customize-control-retina_logo {
	margin-bottom: 20px;
	margin-top: -5px;
}


/**
 * 1.0 Feedback Notice
 */


.feedback-notice.updated {
	border: 1px solid #dedede !important; 
	box-shadow: none;
	position: relative;
}

.feedback-notice.updated p {
	display: inline-block;
	position: relative;
	top: -1px;
}

.feedback-notice.updated b {
	color: #0073aa;
}

.feedback-notice.updated .button {
	margin-left: 10px;
}

.feedback-notice.updated .dismiss {
	position: absolute;
	top: 15px;
	padding: 0;
	height: 20px;
	width: 20px;
	right: 10px;
}

.feedback-notice.updated b:before,
.feedback-notice.updated .dismiss:before {
	content: '\f335';
	display: inline-block;
	font: 400 20px/1 dashicons;
	position: relative;
	color: #a0a5aa;
	vertical-align: middle;
	speak: none;
	position: relative;
	top: -2px;
	-moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
}

.feedback-notice.updated .dismiss:hover:before {
	color: #0073aa;
}

.feedback-notice.updated b:before {
	content: '\f122';
	border-radius: 100%;
	background-color: #0073aa;
	font-size: 12px;
	line-height: 22px;
	height: 22px;
	width: 22px;
	color: #fff;
	text-align: center;
	margin-right: 5px;
}

@media screen and (max-width:1000px) {
	.feedback-notice.updated {
		text-align: center;
		padding: 15px 10px!important;
	}
	
	.feedback-notice.updated b,
	.feedback-notice.updated p,
	.feedback-notice.updated b:before {
		display: block;
	}

	.feedback-notice.updated b:before {
		margin: 0 auto 5px;
		line-height: 26px;
		height: 26px;
		font-size: 14px;
		width: 26px;
	}

	.feedback-notice.updated p {
		padding: 0 2em;
	}
	

	.feedback-notice.updated .button {
		margin: 5px 0 0 0;
	}

	.feedback-notice.updated .dismiss {
		position: absolute;
		top: 10px;
		right: 10px;
	}
}


/* Range control styles */


li.customize-control.customize-control-range .ui-slider-handle {
	position: absolute;
    z-index: 2;
    width: 1.4em;
    height: 1.4em;
    cursor: default;
}

li.customize-control.customize-control-range .ttfmake-control-range {
	float: left;
	width: 25%;
}

li.customize-control.customize-control-range .ttfmake-range-slider {
	float: right;
	width: 70%;
	margin-top: 8px;
}

li.customize-control.customize-control-range .ui-slider-handle {
	top: -.4em;
	border-color: #32373C;
	background: #32373C;
}

li.customize-control.customize-control-range .ui-slider-horizontal {
	height: .6em;
	border: 1px solid #DDD;
	border-radius: 10px;
	background: #fff;
	position: relative;
	top: 9px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
}

li.customize-control.customize-control-range .ui-slider-handle {
	border-radius: 100%;
}

li.customize-control.customize-control-range .ui-slider-handle:hover {
	cursor: pointer;
}


/* Customizer */


.customize-control select {
	margin-top: 7px;
	width: 99.4%;
}

#accordion-section-mark_theme_options_footer .customize-control-checkbox {
	margin-bottom: 0;
}

#customize-control-pro_typography_content ul,
#customize-control-pro_colors_content ul,
#customize-control-pro_portfolio_content ul,
#customize-control-pro_portfolio_cta_content ul {
	list-style-type: disc;
	padding-left: 1.3em;
	margin-bottom: 1.5em;
}

#customize-control-pro_typography_content .description,
#customize-control-pro_colors_content .description,
#customize-control-pro_portfolio_content .description,
#customize-control-pro_portfolio_cta_content .description {
	font-style: normal;
}

#customize-control-pro_typography_content .button,
#customize-control-pro_colors_content .button,
#customize-control-pro_portfolio_content .button,
#customize-control-pro_portfolio_cta_content .button {
	width: 100%;
	text-align: center;
}

#customize-controls .control-section .accordion-section-title:hover .mark-upgrade-link {
	background-color: #23282d !important;
}

#accordion-panel-mark_pro_typography.control-panel-default .mark-upgrade-link {
    margin-right: 30px !important;
}


#accordion-panel-mark_pro_typography.control-panel-default .accordion-sub-container .control-section-default.control-subsection h3.accordion-section-title .mark-upgrade-link {
    margin-right: 10px !important;
}


.customize-section-title h3 .mark-upgrade-link {
	display: none !important;
}


/* Post Type Sorting */


.js #team_list .menu-item-handle,
.js #portfolio_list .menu-item-handle,
.js #testimonial_list .menu-item-handle {
	box-shadow: 0 1px 3px rgba(0,0,0,.05);
	line-height: 25px;
	height: 25px;
	padding: 10px;
}

#team_list .menu-item-bar,
#portfolio_list .menu-item-bar,
#testimonial_list .menu-item-bar {
	margin: 0;
}

.js #team_list .menu-item-handle img,
.js #portfolio_list .menu-item-handle img,
.js #testimonial_list .menu-item-handle img {
	border-radius: 2px;
	height: 25px;
	width: 25px;
}

.js #team_list .menu-item-title,
.js #portfolio_list .menu-item-title,
.js #testimonial_list .menu-item-title {
	padding-left: 35px;
}

.menu-item-image {
	border-radius: 2px;
	left: 10px;
	position: absolute;
	height: 25px;
	width: 25px;
	background-color: #E7E7E7;
}



/* Customizer */
.customize-control select {
	margin-top: 7px;
	width: 99.4%;
}


 /* Meta */
.media-frame .attachments-browser .media-toolbar {
	display: block!important;
}

.bean-meta-table {
	margin: 0;
}

.bean-meta-table tr { 
	border-top: 1px solid #EEE;
}
	
.bean-meta-table tr:first-child {
	border-top: none; 
}

.bean-meta-table th { 
	padding: 20px 15px;
	padding-right: 5%;
	width: 35%;  
}

.bean-meta-table a {
	outline: none!important;
}

.bean-meta-table label span {
	display: block; 
	color: #999; 
	font-weight: normal;
	font-size: 13px;
	line-height: 20px; 
	margin: 3px 0 0px 0;
}

.bean-meta-table input,
.bean-meta-table textarea {
	width: 100%; 
	margin-right: 5px; 
	float: left;
}

.bean-meta-table select {
	min-width: 150px;
}

.bean-meta-table input.file { 
	width: 80%; 
}

.bean-meta-table input.button {
	margin-right: 0;
	outline: none!important;
	width: auto; 
}

.bean-meta-table #bean_images_upload {
	margin-top: 14px;
}

.bean-meta-table input.radio {
	float: none;
	margin-right: 3px;
	margin-top: 0px;
	width: auto; 
}

.bean-meta-table .radio-label { 
	margin-right: 30px; 
}

.bean-meta-table input[type='checkbox'] {
	margin-top: 1px;
	margin-right: 10px;
	width: 10px;
}

#bean_metabox_seo .radio-label {
	text-transform: capitalize!important;
}

.bean-meta-table td span,
.bean-meta-table .radio-label {
	color: #999; 
	font-size: 13px;

}

/* Colorpicker styles */
.bean-box-color {
	position: relative;
}

td.bean-box-color {
	padding: 36px 10px;
}

.bean-box-color input {
	margin-right: 10px;
}

.bean-box-color .wp-color-picker {
	width: 65px!important;
}

.bean-box-color .button.button-small {
	height: 23px!important;
	margin-top: 1px;
}

.bean-box-color .wp-picker-clear {
	margin-left: 15px!important;
}
.bean-box-color .wp-picker-clear {
	margin-left: 15px!important;
}

.bean-box-color .wp-color-result {
	margin: 0 6px 3px 0!important;
}

.bean-box-color .wp-color-result,
.bean-box-color .wp-color-result.wp-picker-open {
	top: 1px!important;
}


/* Media meta */
.post-type-portfolio .media-button-reverse {
	display: none;
}

.bean-meta-thumbnails { 
	clear: left; 
	margin-top: 50px;
}

.bean-meta-thumbnails li { 
	float: left;
	margin-right: 5px;
}

.bean-meta-thumbnails li img { 
	height: 40px;
}

.bean-meta-thumbnails img { vertical-align: bottom; }


/* Portfolio side format selector */
#side-sortables #portfolio-type.postbox .bean-meta-table th {
	padding: 0px;
	vertical-align: middle;
	width: 100%;
	line-height: 1.4;
	font-weight: normal;
}

#side-sortables #portfolio-type.postbox .bean-meta-table strong {
	font-weight: normal;
	margin-top: 1px;
}

#side-sortables #portfolio-type.postbox .bean-meta-table td span {
	display: none;
}

#side-sortables #portfolio-type.postbox .bean-meta-table input[type='checkbox'] {
	margin: 0;
}

label._bean_portfolio_type_audio:before,
label._bean_portfolio_type_video:before,
label._bean_portfolio_type_gallery:before {
	color: #DDD;
	content: '\f161';
	display: inline-block;
	font: 400 20px/1 dashicons;
	margin-right: 7px;
	position: relative;
	vertical-align: middle;
	speak: none;
	-moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
	-webkit-transition: all .1s ease-in-out;
	        transition: all .1s ease-in-out;
}	

label._bean_portfolio_type_audio:before {
	content: '\f127';
}

label._bean_portfolio_type_video:before {
	content: '\f126';
}

